h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
    color: #383838;
}

.file-upload-custom .p-button {
    background: #2C64FA;
    border-radius: 2rem;
    border: 0;
}

#card-container .p-card .p-card-body {
    padding: 0;
}